body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(238, 251, 238);
}
h3{
    text-align: center;
    color:rgb(38, 63, 46);
}
.logout-link {
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c1ffc2;
  }
  
  li {
    float: left;
    text-align: center;
    margin-right: 40px;
  }
  
  li a {
    display: block;
    color: rgb(38, 63, 46);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #d4ffdc;
  }

table{
    font-size: 15px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-collapse: collapse;
    border-spacing: 50px;
    text-align: center;
}
nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(102, 186, 143);
    overflow-x: hidden;
    padding-top: 20px;
    font-size: medium;
    font-weight: bolder;

}

th, td {
    border-left: 1px solid black;
    padding: 8px;
}

th{
    background-color: rgb(215, 251, 221);
}


table tr:nth-child(odd){
    background-color: rgb(183, 223, 183);
}

#button{
    display: block;
    margin: 0 auto;
    font-size: large;
    border: solid black;
    background-color: #d4ffdc;
    width: 400px;
    font-weight:bold;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.951);
}

.container {
    margin-top: 20px; 
    margin-left: 200px;
    text-align: center;
}

.containerFoot {
    margin-top: 300px; 
    margin-left: 200px;
    text-align:end;
}

header, footer{
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}